<h1>Order Info</h1>
<div class="row col-md-9 col-md-6">
  <table class="table" *ngIf=" wantedOrder$! | async as order; else orderLoading;">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shippingInfo of order.shippingInfo">
        <td class="d-flex justify-content-center align-items-center">
          <img
            [ngSrc]="shippingInfo.productInfo.imageUrl"
            class="skeleton-bg product-image" alt="image description"
            width="60" height="60"
          >
        </td>
        <td> {{ shippingInfo.productInfo.title }} </td>
        <td class="fw-bold"> {{ shippingInfo.productInfo.price  | currency:'USD':'symbol'}} </td>
        <td> {{ shippingInfo.productInfo.quantity }} </td>
        <td class="fw-bold"> {{ shippingInfo.productInfo.totalPrice  | currency:'USD':'symbol'}} </td>
      </tr>
    </tbody>
  </table>
  <ng-template #orderLoading>
    Your order as coming...
  </ng-template>
</div>

