<div class="card">
  <div class="card-body">
    <h3>Order Summary</h3>
    <p>You Have {{ cart.totalItemCount }} Items In Your Shopping Cart.</p>
    <table class="table">
      <tbody>
        <tr *ngFor="let productInfo of cart?.productsInfoArr">
          <td> {{ productInfo.quantity }} x {{ productInfo.product.title }}</td>
          <td> {{ productInfo.totalPrice | currency:'USD':'symbol'}} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th> Total </th>
          <th> {{ cart.totalPrice | currency:'USD':'symbol'}} </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
